{% extends "base.html" %}
{% block title %}Info General{% endblock title %}
{% block content %}

    <div class="container-fluid" style="display: block; margin-top: 0px">

      <div style="display: block">
          <h3><span style="color:#E74C3C">{{n_total}}</span> CASOS CONFIRMADOS AL {{dt}}</h3>
        <span>Fuente: <a href="/static/files/{{file_name}}">{{file_name}}</a></span>
      </div>

      <div class="row">
          	  <!-- Highcharts display -->
	  <div class="col-md-6" id="container" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
	  <div class="col-md-6" id="container_rango_de_edad" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
	  <div class="col-md-6" id="cont_cats" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
	  <div class="col-md-6" id="cont_cats2" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
	  <div class="col-md-6" id="container_edad_genero" style="min-width: 800px; height: 450px; margin: 0 auto"></div>

      </div>
    </div>

    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
_estados = {{estados|safe}};
_values = {{values|safe}};
_cats = {{cats|safe}};
_v_cats = {{v_cats|safe}};
_cats2 = {{cats2|safe}};
_v_cats2 = {{v_cats2|safe}};
_v_edad_genero = {{v_edad_genero|safe}};
_rango_de_edad = {{rango_de_edad|safe}};
_v_rango_de_edad = {{v_rango_de_edad|safe}};
_dt = "{{dt|safe}}"
_case_type = "CONFIRMADOS"
_colors = ['#FFDD33']
_colors_rango_de_edad = ['orange', '#67BC42', '#FF56DE', '#E6D605', '#BC36FE']
_colors_genero_edad = ['#16A085', '#34495E']

    </script>

    <script src="/static/scripts/main.js"></script>
    <script src="/static/charts/por_estado.js"></script>
    <script src="/static/charts/por_rango_de_edad.js"></script>
     <script src="/static/charts/por_cats.js" chart_title="Características de casos CONFIRMADOS (no excluyentes)"
     chart_subtitle=" - Cada caso puede estar en más de una columna"></script>
     <script src="/static/charts/por_cats2.js" chart_title="Detalle de los {{n_criticos}} CONFIRMADOS en UCI o Intubados"
     chart_subtitle=" - Cada caso puede estar en más de una columna"></script>
    <script src="/static/charts/por_edad_genero.js"></script>


{% endblock content %}


