{% extends "base.html" %}
{% block title %}Info General{% endblock title %}
{% block content %}

    <div class="container-fluid" style="display: block; margin-top: 0px">

      <div style="display: block">
          <h3><span style="color:#C70039">{{n_total}}</span> DECESOS EN MEXICO AL {{dt}}</h3>
          <h4 style="opacity: 0.5;"><i><span style="color:#C70039">{{n_sum_difs}}</span> adicionales reportados por varios estados</i></h4>
        <span>Fuente:
            <a href="/static/files/{{file_da}}">{{file_da}}</a>
            (<a target="_otra" href="https://www.gob.mx/salud/documentos/datos-abiertos-152127">Datos abiertos @ GOBMX</a>)</span>
      </div>
<br>

        <div class="row">
                <p class="warning">Red consular reporta <b>311</b> mexicanos muertos por COVID-19 en <b>Estados
                    Unidos</b>.<small>
                    <a target="_otra" href="https://www.proceso.com.mx/626311/311-mexicanos-muertos-estados-unidos">
                    Proceso</a>, 17 de abril.</small>
     </p>

        </div>
      <div class="row">
                  <!-- Highcharts display -->
	  <div class="col-md-6" id="container" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
	  <div class="col-md-6" id="container_compara" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
	  <div class="col-md-6" id="container_rango_de_edad" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
	  <div class="col-md-6" id="cont_cats" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
	  <div class="col-md-6" id="container_edad_genero" style="min-width: 800px; height: 450px; margin: 0 auto"></div>


      </div>

    </div>

    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
_estados = {{estados|safe}};
_values = {{values|safe}};
_cats = {{cats|safe}};
_v_cats = {{v_cats|safe}};
_v_edad_genero = {{v_edad_genero|safe}};
_rango_de_edad = {{rango_de_edad|safe}};
_v_rango_de_edad = {{v_rango_de_edad|safe}};
_edos_compara = {{edos_compara|safe}};
_v_compara = {{v_compara|safe}};

_dt = "{{dt|safe}}";
_case_type = "DECESOS";
_colors = ['#C70039'];
_colors_rango_de_edad = ['#C70039', '#900C3F', '#E74C3C'];
_colors_genero_edad = ['#C70039', '#E74C3C'];
_dt_compara = "{{dt_compara|safe}}";
    </script>


    <script src="/static/scripts/main.js"></script>

    <script src="/static/charts/por_estado.js"></script>
    <script src="/static/charts/por_estado_compara.js"></script>
    <script src="/static/charts/por_rango_de_edad.js"></script>
     <script src="/static/charts/por_cats.js" chart_title="Características de los DECESOS (no excluyentes)"
     chart_subtitle=" - Cada deceso puede estar en más de una columna"></script>
   <script src="/static/charts/por_edad_genero.js"></script>



{% endblock content %}

