{% extends "base.html" %}
{% block title %}Info General{% endblock title %}
{% block content %}

    <div class="container-fluid" style="display: block; margin-top: 0px">

      <div style="display: block">
          <h3>EVOLUCIÓN EN MEXICO AL {{dt}}</h3>
        <span>Fuentes: <a href="/static/files/{{file_name}}">{{file_name}}</a> (ECDC)
            <a href="/static/files/{{file_name2}}">{{file_name2}}</a> (GOBMX)</span>
      </div>

      <div class="row">
                  <!-- Highcharts display -->
          <div class="border" id="container_fechas" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
          <div class="border" id="container_fechas2" style="min-width: 800px; height: 450px; margin: 0 auto"></div>

      </div>

    </div>

    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
_fechas = {{fechas|safe}};
_v_fechas = {{v_fechas|safe}};
_fechas2 = {{fechas2|safe}};
_v_fechas2 = {{v_fechas2|safe}};
_dt = "{{dt|safe}}"
_dt_ecdc = "{{dt_ecdc|safe}}"
_case_type = ""
    </script>


    <script src="/static/scripts/main.js"></script>
    <script src="/static/charts/por_fechas.js"></script>
    <script src="/static/charts/por_fechas2.js"></script>

{% endblock content %}

