{% extends "base.html" %}
{% block title %}Info General{% endblock title %}
{% block content %}

    <div class="container-fluid" style="display: block; margin-top: 0px">

      <div style="display: block">
          <h3>EVOLUCIÓN EN MEXICO AL {{dt}}</h3>
        <span>Fuentes: <a href="/static/files/{{file_name}}">{{file_name}}</a> (<a target="_otra" href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">ECDC</a>),
            <a href="/static/files/{{file_name2}}">{{file_name2}}</a> (<a target="_otra" href="https://www.gob.mx/salud/documentos/coronavirus-covid-19-comunicado-tecnico-diario-238449">GOBMX</a>)</span>
      </div>
<br>
    <p class="warning">
         Al menos <b>181</b> mexicanos han muerto por COVID-19 en Estados Unidos. [<a href="https://www.eluniversal.com.mx/nacion/politica/coronavirus-mueren-181-mexicanos-en-eu">El Universal</a>, 10 de abril]
     </p>

      <div class="row">
                  <!-- Highcharts display -->
          <div class="border" id="container_totals" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
          <div class="border" id="container_fechas" style="min-width: 800px; height: 450px; margin: 0 auto"></div>
          <div class="border" id="container_fechas2" style="min-width: 800px; height: 450px; margin: 0 auto"></div>

                  <p class="success">
         Gráficas en proceso de actualización usando la base de datos disponible en <a href="https://www.gob.mx/salud/documentos/datos-abiertos-152127">www.gob.mx</a> con la historia de todos los casos procesados.
     </p>

      </div>

    </div>

    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/annotations.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
_fechas = {{fechas|safe}};
_v_fechas = {{v_fechas|safe}}
_v_totals = {{v_totals|safe}}
_fechas2 = {{fechas2|safe}};
_v_fechas2 = {{v_fechas2|safe}};
_dt = "{{dt|safe}}"
_dt_ecdc = "{{dt_ecdc|safe}}"
_case_type = ""
    </script>


    <script src="/static/scripts/main.js"></script>
    <script src="/static/charts/por_totals.js" container="container_totals" i_totals="1"></script>
    <script src="/static/charts/por_fechas.js" container="container_fechas" i_totals="1"></script>
    <script src="/static/charts/por_fechas2.js"></script>

{% endblock content %}

