#tblComments td {
    padding: 5px;
}


ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    border: 1px solid orange;
    color: orange;
    background: rgba(220, 180, 100, 0.15);
    list-style-position: inside;
    display: block;
    font-size: 1em;
    margin: 0 0 3px;
    padding: 3px 3px;
    text-align: center;
    border-radius: 3px;
}
input, textarea {
    width: 100%;
    padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(169,169,169)
}
input {
    height: 30px;
}
.success {
    background-color: rgba(0, 128, 0, 0.15);
    padding: 10px;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
}
.warning {
    background-color: rgba(128, 0, 0, 0.15);
    padding: 10px;
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 3px;
}